html, body{
	margin:0;padding:0;
	background-color:#fff;
	color:#333;
}
ins{
	color:#000;
	background-color:#dfd;
	text-decoration:none;
}
del{
	color:#f00;
	background-color:#fdd;
	text-decoration:none;
}

.code pre{
	background-color: #f9f9f9;
}

.diff-main-view{
	min-height: 300px;
	margin: 20px auto;
	padding: 0 0 10px 0;
	border-bottom: 5px solid #aaa;
}

.outline{
	width:auto;
	max-height:100%;
	overflow: hidden;
	display: flex;

	// iframe のビュー
	.diffpreview{
		width:75%;
		max-height:100%;
		iframe{
			width:100%;
		}
	}

	// ファイル一覧 のビュー
	.difflist{
		overflow:auto;
		width:25%;
		max-height:100%;
		display: flex;
		flex-direction: column;

		.difflist__btns{
		}
		.difflist__list{
			overflow: auto;
		}

		ul{
			display: table;
			width:100%;
			padding: 10px;
			margin: 0;
			li{
				display:table-row;
				margin-top:1px;
				margin-bottom:1px;
				list-style-type:none;
				white-space: nowrap;
			}
			li.dir{
				background-color:#f5f5f5;
				font-weight:bold;
			}
			li a{
				color:#000;
				text-decoration:none;
				.label{
					margin-left:1em;
					font-size: 75%;
					padding: 2px 5px;
				}
			}

			li.changed a{
				background-color:#dfd;
			}
			li.added a{
				background-color:#dfd;
			}
			li.deleted a{
				color:#f00;
				background-color:#fdd;
			}
		}
	}
}
.theme_outline{
	margin:1em 1em;
}

.image-preview{
	img{
		max-width:100%;
	}

	.image-preview__two-columns{
		margin:1em 0;
		text-align:center;
		position: relative;
		display: block;
		float: none;
		clear: both;
	}
	.image-preview__two-columns:after {
		content: " ";
		display: block;
		visibility: hidden;
		height: 0.1px;
		font-size: 0.1em;
		line-height: 0;
		clear: both;
	}
	.image-preview__two-columns .image-preview--before{
		max-width:49%;
		float:left;
	}
	.image-preview__two-columns .image-preview--after{
		width:49%;
		float:right;
	}
	.image-preview__piling-up{
		display:none;
		margin:1em 0;
		position: relative;
		text-align:center;
		min-height:400px;
	}
}

.text-preview{
	margin-bottom: 12px;
	&__btns{
		margin-top: 12px;
		margin-bottom: 12px;
	}

	// php-diff
	.Differences{
		width: 100%;
	}
	.Differences * {
		vertical-align: top;
	}
	.Differences thead th,
	.Differences thead td {
		white-space: nowrap;
		text-align: center;
	}
	.Differences tbody th,
	.Differences tbody td {
		border-top: 1px dotted #bbb;
	}
	.Differences tbody td{
		width: 50%;
		padding: 2px 0.5em;
	}
	.Differences tbody th{
		white-space: nowrap;
		padding: 2px 0.5em;
		background-color:#f0f0f0;
		border-radius: 3px;
		text-align: center;
	}
	.Differences tbody.ChangeReplace th{
		background-color:#ddd;
	}

	.text-preview__diff_3__textdiff{
		display: flex;
		&>div{
			width: 50%;
		}

		.differ {
			width:100%;
			margin:0;
			background:#f9f9f9;
			border:1px solid #ddd;
			font-size:inherit;
			border-collapse:separate;
			border-spacing:0;
			border:1px solid #ddd;
		}

		.differ td {
			padding:1px 4px;
			font-size:inherit;
			border-top:1px dotted #eee;
			border-left:1px solid #ddd;
		}

		.differ .-line:first-child td {
			border-top:0;
		}

		.differ .-line td:first-child {
			border-left:0;
		}

		.differ .-number {
			width:5%;
			padding-top:.4em;
			white-space:nowrap;
			text-align:right;
			vertical-align:top;
			font-size:80%;
			font-family:Arial;
			border-top:1px solid #e6e6e6;
			color:#999;
		}

		.differ .-text {
			padding-left:8px;
			border-left:3px double #ddd;
			background:#fff;
		}

		.differ .-is-differ .-text {
			background:#FFFBE6;
		}

		.differ .-no-differ .-text {
			color:#777;
		}

		.differ .-word {
			display:inline-block;
			vertical-align:middle;
			/*font-weight:bold;*/
		}

		.differ .-word.-source {
			color:green;
			background: #dfd;
		}

		.differ .-word.-change {
			color:red;
			background: #fdd;
		}

		.output {
			margin-top:40px;
		}
	}

}
