html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333; }

ins {
  color: #000;
  background-color: #dfd;
  text-decoration: none; }

del {
  color: #f00;
  background-color: #fdd;
  text-decoration: none; }

.code pre {
  background-color: #f9f9f9; }

.diff-main-view {
  min-height: 300px;
  margin: 20px auto;
  padding: 0 0 10px 0;
  border-bottom: 5px solid #aaa; }

.outline {
  width: auto;
  max-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .outline .diffpreview {
    width: 75%;
    max-height: 100%; }
    .outline .diffpreview iframe {
      width: 100%; }
  .outline .difflist {
    overflow: auto;
    width: 25%;
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .outline .difflist .difflist__list {
      overflow: auto; }
    .outline .difflist ul {
      display: table;
      width: 100%;
      padding: 10px;
      margin: 0; }
      .outline .difflist ul li {
        display: table-row;
        margin-top: 1px;
        margin-bottom: 1px;
        list-style-type: none;
        white-space: nowrap; }
      .outline .difflist ul li.dir {
        background-color: #f5f5f5;
        font-weight: bold; }
      .outline .difflist ul li a {
        color: #000;
        text-decoration: none; }
        .outline .difflist ul li a .label {
          margin-left: 1em;
          font-size: 75%;
          padding: 2px 5px; }
      .outline .difflist ul li.changed a {
        background-color: #dfd; }
      .outline .difflist ul li.added a {
        background-color: #dfd; }
      .outline .difflist ul li.deleted a {
        color: #f00;
        background-color: #fdd; }

.theme_outline {
  margin: 1em 1em; }

.image-preview img {
  max-width: 100%; }

.image-preview .image-preview__two-columns {
  margin: 1em 0;
  text-align: center;
  position: relative;
  display: block;
  float: none;
  clear: both; }

.image-preview .image-preview__two-columns:after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both; }

.image-preview .image-preview__two-columns .image-preview--before {
  max-width: 49%;
  float: left; }

.image-preview .image-preview__two-columns .image-preview--after {
  width: 49%;
  float: right; }

.image-preview .image-preview__piling-up {
  display: none;
  margin: 1em 0;
  position: relative;
  text-align: center;
  min-height: 400px; }

.text-preview {
  margin-bottom: 12px; }
  .text-preview__btns {
    margin-top: 12px;
    margin-bottom: 12px; }
  .text-preview .Differences {
    width: 100%; }
  .text-preview .Differences * {
    vertical-align: top; }
  .text-preview .Differences thead th,
  .text-preview .Differences thead td {
    white-space: nowrap;
    text-align: center; }
  .text-preview .Differences tbody th,
  .text-preview .Differences tbody td {
    border-top: 1px dotted #bbb; }
  .text-preview .Differences tbody td {
    width: 50%;
    padding: 2px 0.5em; }
  .text-preview .Differences tbody th {
    white-space: nowrap;
    padding: 2px 0.5em;
    background-color: #f0f0f0;
    border-radius: 3px;
    text-align: center; }
  .text-preview .Differences tbody.ChangeReplace th {
    background-color: #ddd; }
  .text-preview .text-preview__diff_3__textdiff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .text-preview .text-preview__diff_3__textdiff > div {
      width: 50%; }
    .text-preview .text-preview__diff_3__textdiff .differ {
      width: 100%;
      margin: 0;
      background: #f9f9f9;
      border: 1px solid #ddd;
      font-size: inherit;
      border-collapse: separate;
      border-spacing: 0;
      border: 1px solid #ddd; }
    .text-preview .text-preview__diff_3__textdiff .differ td {
      padding: 1px 4px;
      font-size: inherit;
      border-top: 1px dotted #eee;
      border-left: 1px solid #ddd; }
    .text-preview .text-preview__diff_3__textdiff .differ .-line:first-child td {
      border-top: 0; }
    .text-preview .text-preview__diff_3__textdiff .differ .-line td:first-child {
      border-left: 0; }
    .text-preview .text-preview__diff_3__textdiff .differ .-number {
      width: 5%;
      padding-top: .4em;
      white-space: nowrap;
      text-align: right;
      vertical-align: top;
      font-size: 80%;
      font-family: Arial;
      border-top: 1px solid #e6e6e6;
      color: #999; }
    .text-preview .text-preview__diff_3__textdiff .differ .-text {
      padding-left: 8px;
      border-left: 3px double #ddd;
      background: #fff; }
    .text-preview .text-preview__diff_3__textdiff .differ .-is-differ .-text {
      background: #FFFBE6; }
    .text-preview .text-preview__diff_3__textdiff .differ .-no-differ .-text {
      color: #777; }
    .text-preview .text-preview__diff_3__textdiff .differ .-word {
      display: inline-block;
      vertical-align: middle;
      /*font-weight:bold;*/ }
    .text-preview .text-preview__diff_3__textdiff .differ .-word.-source {
      color: green;
      background: #dfd; }
    .text-preview .text-preview__diff_3__textdiff .differ .-word.-change {
      color: red;
      background: #fdd; }
    .text-preview .text-preview__diff_3__textdiff .output {
      margin-top: 40px; }
